{% extends "hist_1.html" %}
{% block content %}
<center><img src="/static/img/friend.jpg" width="350"></center>
<center><h1>Включая свет вы натыкаетесь на своего старого друга, которого знаете ещё со школы.</h1></center>
<h3>- Привет, Арнольд!<br>- Привет, Линдов!<br>- Как дела? Как универ?</h3>
<center><a href="{{ url_for('first_story_room_truth') }}" class="btn btn-outline-success">Сказать правду</a></center>
<center><a href="{{ url_for('first_story_room_lier') }}" class="btn btn-outline-danger">Солгать</a></center>
{% endblock %}