{% extends "hist_1.html" %}
{% block content %}
<center><img src="/static/img/photo_5251501137985657188_y.jpg" width="200"></center>
<h3>Здравствуй, приятель, ну что, поиграть охота! Проведу маленькую экскурсию. Так вот.<br>Внизу у тебя есть кнопки.
    Каждая выполняет свою функцию.<br>1. Синяя - информация.<br>2. Красная - плохой исход.<br>3. Зелёная - хороший
    исход.<br>В зависимости от твоего выбора, будущее твоё меняется.<br>Однако, если вы устали, вы можете выйти,
    использовав кнопку "ВЫХОД"</h3>
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Доп. информация
</button>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Инофрмация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Анна Павловна Шерер - дама, которая вас информирует.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<h5><a href="{{ url_for('dontunderstand') }}" class="btn btn-danger">Не понял.</a></h5>
<h5><a href="{{ url_for('understand') }}" class="btn btn-success">Ок, понял</a></h5>
{% endblock %}