{% extends "hist_1_en.html" %}
{% block content %}
<center><img src="/static/img/photo_5251501137985657188_y.jpg" width="200"></center>
<h3>— Eh bien, mon prince. Gênes et Lucques ne sont plus que des apanages, des поместья, de la famille Buonaparte. Non,
    je vous préviens que si vous ne me dites pas que nous avons la guerre, si vous vous permettez encore de pallier
    toutes les infamies, toutes les atrocités de cet Antichrist (ma parole, j'y crois) — je ne vous connais plus, vous
    n'êtes plus mon ami, vous n'êtes plus мой верный раб, comme vous dites. Well, hello, hello. Je vois
    que je vous fais peur, sit down and tell me.</h3>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Extra information
</button>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Information</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Anna Pavlovna Scherer is an influential person.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">To close</button>
      </div>
    </div>
  </div>
</div>
<h5><a class="btn btn-danger">Madam, move over!</a></h5>
<h5><a class="btn btn-success">We have a war. Napoleon is a capital strongman.</a></h5>
{% endblock %}