{% extends "hist_1_en.html" %}
{% block content %}
<center><img src="/static/img/photo_5251501137985657188_y.jpg" width="200"></center>
<h3>Hello, buddy, well, it's time to play! I'll give you a little tour. So here you go.<br>At the bottom you have buttons.
    Each performs its own function.<br>1. Blue - information.<br>2. Red - bad outcome.<br>3. Green - good
    outcome.<br>Depending on your choice, your future changes.<br>However, if you are tired, you can go out,
    using the "EXIT" button</h3>
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Extra information
</button>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Anna Pavlovna Sherer - the lady who informs you.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<h5><a href="{{ url_for('dontunderstand_en') }}" class="btn btn-danger">Don't understand</a></h5>
<h5><a href="{{ url_for('understand_en') }}" class="btn btn-success">Understand</a></h5>
{% endblock %}