{% extends "base3.html" %}
{% block content %}
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Версия 1.0
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            {% set deistv_list = ['Макет сайта', "Домашняя страница", "Список обновлений", "Регистрация", "Про нас"] %}
            <div class="accordion-body">
                Мы добавили:
            </div>
            {% for user in deistv_list %}
            <div class="accordion-body"><li>{{ user }}</li></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}